/* ----------------------BENEFITS ---------------------- */
.benefits {
}
.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 70px;
}
.benefits-item {
  width: 362px;
  text-align: center;
}
.benefits-title {
}
.benefits-text {
}
